
#prodimg{
    max-width:390px;
    max-height: 390px;



}
#rotate{
    transform: rotate(180deg);
    margin-left: 3px;
    margin-bottom: 72px;
}
#con {
    text-align: center;
}
#textttt{
    font-family: fantasy;
    font-size: 200px;
    color: #000000bd;
}
#cwird {
    max-width: 50%;
    margin: auto;
    padding: 1%;
    margin-bottom: 2% !important;
    border-color: #00000069;
    background: #8080803d;
}
ul.thumb{
    margin:0 auto;
    padding: 0;
    
  }

 

  ul.thumb li{
    list-style: none;
    margin: 10px;
  }
  ul.thumb li img{
    width: 80px;
    height: 80px;
    border: 1px solid grey;
  }
#caheader{
    background:  #174ae2;
    color: cornsilk;
    padding: 10px;
    border-radius: 10px !important;
}
#titlo{
    background:  #174ae2;
    color: floralwhite;
    padding: 10px;
    border-radius: 10px;
}
#labelleft1 {
    /* align-items: center!important; */
    margin-left: auto;
}
#labelright2 {
    /* text-align: center; */
    margin-left: 17px;
}
#checard {
    margin-top: 24px;
    box-shadow: 1px 1px 5px 1px rgb(175,168,168);
    margin-bottom: 24px;
}
#checkbtn{
    width: -webkit-fill-available;;
}
#hrr {
    height: 2px;
    background: gray;
    
}
#fas{
        position: absolute !important;
        left: 10px !important;
    }

#go_acctivate {
    
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 35px !important;
}
@media (max-width: 500px){
    #prodimg{
        max-width:320px;
        max-height: 320px;
    
    }
#count {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top: 195px;
    left: 49px;
    right: 1px;
    background: #ff420f;


}
div#cwird {
    max-width: 100%;
    margin: auto;
    padding: 1%;
    margin-bottom: 2% !important;
    border-color: #00000069;
    background: #8080803d;
}
#textttt{
    font-family: fantasy;
    font-size: 150px;
    color: #000000bd;
}
}
br {
    display: none;
}
@media (min-width:500px) and( max-width:1000px){
    #prodimg{
        max-width:320px;
        max-height: 320px;
    
    }
    #textttt{
        font-family: fantasy;
        font-size: 180px;
        color: #000000bd;
    }
#count {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top: 195px;
    left: 50px;
    right: 1px;
    background: #ff420f;

}
}
 @media (max-width:1000px){
    #prodimg{
        max-width:320px;
        max-height: 320px;
    
    }
#count {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top: 195px;
    left: 49px;
    right: 1px;
    background: #ff420f;

}
#textttt{
    font-family: fantasy;
    font-size: 190px;
    color: #000000bd;
}
} 

@media (min-width:1000px){


    #count {
        width: 18px;
        height: 18px;
        border-radius: 15px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        top: 13px;
        /* left: 49px; */
        right: 1px;
        background: #ff420f;
    
    }
    #textttt{
        font-family: fantasy;
        font-size: 200px;
             color: #000000bd;
    }
}