<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle  fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="font-family: Tajawal;">
      الخصائص
    </a>
    <ul class="dropdown-menu" style="position: absolute !important;">
     <li><a class="dropdown-item text-primary" href="{% url 'store'%}"style="font-family: Tajawal;">كل الخصائص</a></li>

      {% for category in links%}
      <li><a class="dropdown-item text-primary" href="{{category.get_url}}"style="font-family: Tajawal;">{{category.category_name}}</a></li>
      {% endfor%}
      <!-- <li><a class="dropdown-item text-warning" href="#">Another action</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-warning" href="#">Something else here</a></li> -->
    </ul>
  </li>